.Rproj.user
.Rhistory
.RData
.Ruserdata
Material de referencia/Bibliografía/Non-linear and Non-stationary Time  Series Analysis.pdf
Presentaciones/Seminario 1 - Primera revisión de la ficha/20191106_174329.mp3
*.mp4
