.Rproj.user
.Rhistory
.RData
.Ruserdata
Material de referencia/Bibliografía/Non-linear and Non-stationary Time  Series Analysis.pdf
Presentaciones/Seminario 1 - Primera revisión de la ficha/20191106_174329.mp3
*.mp4
Products/Static_Documents/Examen de candidatura/Examen_de_candidatura_cache
Products/Static_Documents/Examen de candidatura/Examen_de_candidatura_files
Products/Static_Documents/Examen de candidatura/Examen_de_candidatura.pdf
Reviews/Resumen de comentarios en 20220227.1_Borrador_Examen_de_candidatura_SWCC.pdf
Products/Static_Documents/Tesis/Tesis_cache
Products/Static_Documents/Tesis/Tesis_files
Products/Static_Documents/Tesis_cache
Products/Static_Documents/Tesis_files
Reviews/Resumen de comentarios en 20220309.1_Borrador_Examen_de_candidatura_GBC.pdf
Products/Static_Documents/Examen de candidatura/Forro.pdf
Products/Static_Documents/Examen de candidatura/Posibles preguntas.docx
Products/Static_Documents/Examen de candidatura/Posibles preguntas.pdf
Products/Static_Documents/Examen de candidatura/Presentación.pptx
Products/Static_Documents/Examen de candidatura/Presentación.pptx
Products/Static_Documents/Tesis/Tesis.aux
Products/Static_Documents/Tesis/Tesis.lof
Products/Static_Documents/Tesis/Tesis.log
Products/Static_Documents/Tesis/Tesis.lot
Products/Static_Documents/Tesis/Tesis.out
Products/Static_Documents/Tesis/Tesis.pdf
Products/Static_Documents/Tesis/Tesis.pdf
Products/Static_Documents/Tesis/Tesis.out
Products/Static_Documents/Tesis/Tesis.lot
Products/Static_Documents/Tesis/Tesis.log
Products/Static_Documents/Tesis/Tesis.lof
Products/Static_Documents/Tesis/Tesis.aux
Products/Static_Documents/Tesis/Tesis.pdf
Products/Static_Documents/Tesis/Tesis.pdf
Reviews/20220711.1_Borrador_Tesis_OCM.pdf
Reviews/20220711.1_Borrador_Tesis_OCM_Observaciones_Generales.docx
Reviews/Resumen de comentarios en 20220711.1_Borrador_Tesis_OCM.pdf
Products/Static_Documents/Tesis/Tesis.pdf
Reviews/20221028.1_Borrador_Tesis_SWC.pdf
Products/Static_Documents/Tesis/Presentación.pptx
Deliverables/Documentos graduacion/01-Comprobante Kerwa.pdf
Deliverables/Documentos graduacion/02-Comprobante de pago.pdf
Deliverables/Documentos graduacion/04-Inclusion a graduacion firmada.pdf
Deliverables/Documentos graduacion/05-Comprobante encuesta.pdf
Deliverables/Documentos graduacion/inclusion_graduacion.pdf
Deliverables/Versión final/Tesis.pdf
Deliverables/Versión final/Tesis_con_firmas.pdf
Deliverables/Versión final/Tesis_sin_firmas.pdf
Products/Static_Documents/Tesis.docx
Products/Static_Documents/Tesis/Tesis.pdf
