.Rproj.user
.Rhistory
.RData
.Ruserdata
Material de referencia/Bibliografía/Non-linear and Non-stationary Time  Series Analysis.pdf
Presentaciones/Seminario 1 - Primera revisión de la ficha/20191106_174329.mp3
*.mp4
Products/Static_Documents/Examen de candidatura/Examen_de_candidatura_cache
Products/Static_Documents/Examen de candidatura/Examen_de_candidatura_files
Products/Static_Documents/Examen de candidatura/Examen_de_candidatura.pdf
Reviews/Resumen de comentarios en 20220227.1_Borrador_Examen_de_candidatura_SWCC.pdf
